body {
  background-color: white;
  margin: 0;
  padding: 0 0 44px;
  font-family: "Quicksand", sans-serif;
  color: #334f5d;
  font-size: 16px;
  line-height: 22px;
  text-align: justify; }

a:link, a:visited {
  color: #e98b69; }

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px; }

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px; }

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px; }

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px; }

ul, ol, li {
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 22px; }

main, header, nav, footer {
  clear: both; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #334f5d;
  text-align: center;
  height: 44px;
  color: #f0f0f0; }
  footer ul {
    padding: 11px; }
    footer ul li {
      list-style: none;
      display: inline; }
      footer ul li a:link, footer ul li a:visited {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        color: white;
        padding: 0 11px; }

ul, ol {
  padding-left: 22px; }

ol li {
  margin-bottom: 22px; }

li ul {
  margin: 11px 22px; }

.logo {
  margin: 0;
  padding: 0;
  background-color: white; }
  .logo img {
    margin: 0 auto;
    display: block;
    height: 220px; }

.main-nav {
  margin: 0;
  padding: 11px 0;
  background-color: #334f5d; }
  .main-nav ul {
    padding: 12px;
    height: 24px; }
  .main-nav li {
    list-style: none;
    float: left;
    width: 20%;
    font-size: 20px;
    text-align: center; }
    .main-nav li.talleres a:link, .main-nav li.talleres a:visited {
      color: #77bfbe; }
    .main-nav li.enfoque a:link, .main-nav li.enfoque a:visited {
      color: #e98b69; }
    .main-nav li.quienes_somos a:link, .main-nav li.quienes_somos a:visited {
      color: #fdff4d; }
    .main-nav li.contacto a:link, .main-nav li.contacto a:visited {
      color: #e07771; }
    .main-nav li.blog a:link, .main-nav li.blog a:visited {
      color: #b4c4e0; }
    .main-nav li a:link, .main-nav li a:visited {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px; }

.taller {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding: 44px;
  float: left;
  line-height: 22px;
  font-size: 16px; }

/* .blog article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  margin: 44px auto; } */

.img_blog {
  width: 35%;
  margin:auto;
  display: block;

.enfoque figure img {
  float: right; }
.enfoque figure figcaption {
  float: left;
  width: 440px; }
.enfoque article {
  clear: both;
  margin: 22px auto;
  padding: 44px; }
  .enfoque article.temas {
    background: asset-url("marco-con-nios.jpg") right bottom no-repeat;
    padding-left: 220px; }
    .enfoque article.temas p, .enfoque article.temas ul {
      width: 800px; }

.quienes_somos article {
  width: 800px;
  margin: 44px auto; }

.contacto-info {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 44px; }

.formulario-contacto {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 44px;
  float: right;
  padding: 44px  88px; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

label {
  display: block;
  padding: 11px 0; }

input[type="text"], input[type="email"], textarea {
  width: 75%;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 2px solid #334f5d;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 11px; }

textarea {
  width: 100%;
  font-size: 14px; }

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 2px solid #334f5d;
  background-color: #334f5d;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 4px 11px;
  font-weight: 700;
  font-size: 16px; }

.logo_socializarte {
  width: 50%;
  margin: 0 auto; }

.mapa {
  width: 30%;
  margin: 0 auto;
  padding-left: 44px; }

.info
h1 {
  font-size: 28px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

.flash-alert,
.flash-notice {
  color: #e07771;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }
