<!DOCTYPE html>
<html>
<head>
  <title>Villa Psicologia</title>
  <meta name="Rocio Paez" content="Villa Psicologia">
  <meta name="Villa Psicologia Gabriela Valderrama" content="Villa Psicologia Gabriela Valderrama">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand:400,500,600,700">
</head>
<body class="{{ page.body_class }}">
  <header class="logo">
    <a href="/">Quiénes Somos
      <img src="/img/logo_completo_220x400.jpg" alt="Logo" class="logo">
    </a>
  </header>
  <nav class="main-nav">
    <ul>
      <li class="quienes_somos">
        <a href="/">Quiénes Somos</a>
      </li>
      <li class="enfoque">
        <a href="/enfoque.html">Enfoque</a>
      </li>
      <li class="talleres">
        <a href="/talleres.html">Talleres</a>
      </li>
      <li class="contacto">
        <a href="/contacto.html">Contacto</a>
      </li>
      <li class="blog">
        <a href="/blog.html">Blog</a>
      </li>
    </ul>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <ul>
      <li class="contact-info">
        <a href="tel:+51981548302">+ 51 981 548 302</a>
      </li>
      <li  class="contact-info">
        <a href="mailto:info@villapsicologia.com">info@villapsicologia.com</a>
      </li>
      <li>Lima, Perú</li>
    </ul>
  </footer>
</body>
</html>
je
